<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Houses</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="container">
        <p id="heading">About our guest houses</p>
        <div class="guest-house">
            <img src="/css/guest_house1.jpg" alt="Guest House 1">
            <div class="guest-house-content">
                <h2>Guest House 1</h2>
                <p>Ground floor: 3 suite rooms.</p>
                <p>First floor: 11 rooms.</p>
                <p>Second floor: 11 rooms.</p>
                <p>Third floor: 11 rooms.</p>
                <p>Office room: 2.</p>
                <p>Address: NIT Trichy</p>
                <p>Contact: +1234567890</p>
            </div>
        </div>
        <div class="guest-house">
            <img src="/css/guest_house2.jpg" alt="Guest House 2">
            <div class="guest-house-content">
                <h2>Guest House 2</h2>
                <p>Ground floor: 4 rooms.</p>
                <p>First floor: 9 rooms.</p>
                <p>Second floor: 4 rooms.</p>
                <p>Address: NIT Trichy</p>
                <p>Contact: +0987654321</p>
            </div>
        </div>
        <div id="advisory-committee">
            <h3>Guest House Advisory Committee</h3>
            <p>Dr. P. Saikrishnan (Professor, Maths), Chairperson</p>
            <p>Dr. A. Meenatchi Sundaram (Associate Professor, Arch.), Member</p>
            <p>Dr. Mashudha Sulthana (Assistant Professor, Civil), Member</p>
            <p>Dr. Shobitha Poulose (Assistant Professor, DoMS), Member</p>
            <p>Dr. Ruben Sudhakar (Associate Professor, DEE), Member</p>
            <p>Assistant Registrar (Establishment), Convener</p>
        </div>
    </div>
</body>
</html>
