<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest House Booking</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="header">
        <img src="/css/nitt.png" style="position: relative;bottom: 13%;position: relative;bottom:13%;width:100%;overflow:hidden;">
    </div>
    <header>
        <nav>
          <a href="/home" >Home</a>
          <a href="/about" >About</a>
          <a href="#">Gallery</a>
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
          <a href="/contact">Contact Us</a>
        </nav>
      </header>
    <div id="home"> 
        NITT GUEST HOUSE
    </div>
    <footer>
        <div class="footer-content">
            <p>made by &hearts; </p>
            <p>by Karan yadav</p>
        </div>
    </footer>
</body>
</html>
